<!-- src/pages/index.hbs -->
<div class="home">
	<section id="intro">

		<h2>This is just a simple static website.</h2>
		<p>The page you read is an example of a static website built using the <strong>simpGrunt</strong> boilerplate, a simple collection of useful tools such as Bootstrap, JQuery and FontAwesome built on top of GruntJS and Assemble. It comes with useful automation tasks to automatically generate static pages, minifying and optimizing files and images.</p>
		<p><a href="https://github.com/arthurcamara1/simpGrunt" target="blank" class="btn btn-primary btn-lg"><i class="fa-github fa"></i> Get simpGrunt</a></p>

	</section>

	<hr />

	<section id="features">

		{{> features }}

	</section>

	<hr />

	<section id="map">

		<h2>Ready to Bootstrap: sliders, forms, tables...</h2>

		{{> slider }}

	</section>
</div>

