<section id="learn-more">
	<h2>Learn More</h2>

	<p>This sample website also makes use of two jQuery plugins located under <code>src/js/</code>. They are not officially part of simpGrunt, but feel free to use them:</p>

	<p><strong><a href="https://github.com/arthurcamara1/simpParallax" target="blank">simpParallax</a></strong>: create awesome parallax effects</p>
	<p><strong><a href="https://github.com/arthurcamara1/simpScroll" target="blank">simpScroll</a></strong>: allow links to point to an element on the same page and scroll the page nicely when the user clicks the link</p>

	<hr />

	<p>I also used free images from the following people:</p>

	{{> credit}}

</section>