<!-- src/pages/about.hbs -->

<h2>Contact Us</h2>

<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Manhattan&amp;sll=-19.918691,-43.959833&amp;sspn=0.535176,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Manhattan,+New+York,+United+States&amp;ll=40.790278,-73.959722&amp;spn=0.026952,0.066047&amp;t=m&amp;z=14&amp;output=embed"></iframe>