<!-- src/pages/index.hbs -->

<div class="jumbotron">
	<h1>Consetetur sadipscing elit</h1>
	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<p>
	  <a class="btn btn-lg btn-primary" href="about.html" role="button">Learn More <i class="fa fa-angle-double-right"></i></a>
	</p>
</div>

<div class="row">
	<div class="col-12 col-sm-6 col-md-3 text-center">
		<p><i class="fa fa-sitemap fa-5x"></i></p>
		<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
	</div>
	<div class="col-12 col-sm-6 col-md-3 text-center">
		<p><i class="fa fa-heart fa-5x"></i></p>
		<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
	</div>
	<div class="col-12 col-sm-6 col-md-3 text-center">
		<p><i class="fa fa-magic fa-5x"></i></p>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
	</div>
	<div class="col-12 col-sm-6 col-md-3 text-center">
		<p><i class="fa fa-globe fa-5x"></i></p>
		<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	</div>
</div>