<div class="credit">
	<p>Header Image by <a href="http://www.flickr.com/photos/webtreatsetc/">@webtreatsetc</a></p>
	<p>Slider Images by <a href="http://www.flickr.com/photos/vfsdigitaldesign">@vfsdigitaldesign</a></p>
</div>