<footer id="footer">
    <div class="container">

    	<p><a href="#header" data-scroll="true">
    		<i class="fa fa-4x fa-arrow-circle-up "></i>
    	</a></p>
        
        <p>&copy; 2013 - Example simpGrunt website</p>
    </div>
</footer>